<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- Servlets -->
	<servlet>
		<servlet-name>ListMessages</servlet-name>
		<servlet-class>edu.oswego.reslife.deskapp.servlets.communication.ListMessages</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddMessage</servlet-name>
		<servlet-class>edu.oswego.reslife.deskapp.servlets.communication.AddMessage</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.oswego.reslife.deskapp.servlets.authentication.Login</servlet-class>
	</servlet>

	<!-- Filters -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>edu.oswego.reslife.deskapp.filters.LoginFilter</filter-class>
	</filter>

	<!-- Servlet mappings -->
	<servlet-mapping>
		<servlet-name>ListMessages</servlet-name>
		<url-pattern>/api/communication/list</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddMessage</servlet-name>
		<url-pattern>/api/communication/add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login/</url-pattern>
	</servlet-mapping>

	<!-- Filter mappings -->
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/staff/*</url-pattern>
	</filter-mapping>
</web-app>